.row::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  background-color: #FFC0CB;
}

body [class*="col-"] {
  height: 215px;
  border: 1px solid #000000;
  position: relative;
}

body [class*="col-"] > .container > [class*="col-"] {
  height: 203px;
  border: 1px solid #ffffff;
  background-color: #F07F80;
}

body [class*="col-"] > .container {
  padding: 5px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
