body.debug [class*="col-"] {
  height: calc(1170px / 12) ;
  border: 1px solid black;
}

body.debug [class*="col-"] > .container > [class*="col-"] {
  height: 280px;
  border: 2px solid blue;
}

.contain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

[class*="col-"] {
  position: relative;
}

i {
  font-size: 80px;
}

/* UTILITY */
.bg-ocra {
  background-color: #D18B46;
}

.bg-lightocra {
  background-color: #FECE9E;
}
